<?xml version="1.0" encoding="@CHARSET@"?>
<?xml-stylesheet href="http://www.w3.org/StyleSheets/TR/W3C-REC.css" type="text/css"?>
<?xml-stylesheet href="@ROOT@stylesheet.css" type="text/css"?>
<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>@CLASSSHORTNAME@@TYPEPARAMS@@TITLESUFFIX@</title>
    <meta name="keywords" content="@CLASSNAME@,@CLASSSHORTNAME@ @CLASSTYPE@" />
    <link href="@ROOT@stylesheet.css" rel="stylesheet" type="text/css" />
  </head>
  <body class="class_page bigframe">
   <div class="navbar">
    <p class="nav navtop">
      <span class="over"><a href="@ROOT@overview-summary.html">Overview</a></span>
      <span class="package"><a href="package-summary.html">Package</a></span>
      <span class="class selected">Class</span>
      <span class="use"><a href="class-use/@CLASSSHORTNAME@.html">Use</a></span>
      <span class="tree"><a href="package-tree.html">Tree</a></span>
      <span class="deprecated"><a href="@ROOT@deprecated-list.html">Deprecated</a></span>
      <span class="index"><a href="@ROOT@index-all.html">Index</a></span>
      <span class="help"><a href="@ROOT@help-doc.html">Help</a></span>
    </p>
    <p class="nav navmid">
      <span class="prevnext">
       <span class="prev">Prev Class</span>
       <span class="next">Next Class</span>
      </span>
      <span class="framesel">
       <span class="frames"><a href="@ROOT@index.html" target="_top">Frames</a></span>
       <span class="noframes"><a href="@CLASSSHORTNAME@.html" target="_top">NoFrames</a></span>
      </span>
      <span class="allclasses"><a href="@ROOT@allclasses-noframe.html">All Classes</a></span>
   </p>
   <p class="nav navbot">
      <span class="summary">Summary:
       <span class="nested">Nested</span>
       <span class="field">Field</span>
       <span class="constr">Constr</span>
       <span class="method">Method</span>
      </span>
      <span class="detail">Detail:
       <span class="field">Field</span>
       <span class="constr">Constr</span>
       <span class="method">Method</span>
      </span>
   </p>
    <div class="navtitle">
     @HEADER@
    </div>
    <p class="clear"><!--empty--></p>
   </div>
   <p class="packageName">@PKGNAME@</p>
   <h1>@IF_INTERFACE@ Interface @END@ @IFNOT_INTERFACE@ Class @END@ @CLASSSHORTNAME@@TYPEPARAMS@</h1>
   <p class="implementingClasses">
   All known implementing classes:
     <a href="CharBuffer.html">CharBuffer</a>
     <a href="String.html">String</a>
     <a href="StringBuffer.html">StringBuffer</a>
   </p>
   <p class="implementedInterfaces">
   All implemented interfaces:
     <a href="CharBuffer.html">CharBuffer</a>
   </p>
   <p class="directSubclasses">
   Direct known subclasses:
     <a href="CharBuffer.html">CharBuffer</a>
   </p>

   <p class="declaration">@MODIFIERS@ interface <span
class="className">@CLASSSHORTNAME@@TYPEPARAMS_DECL@</span> <span class="extends">extends <a
href="AbstractCollection.html">AbstractCollection</a></span> <span
class="implements">implements <a href="List.html">List</a></span></p>

   <div class="description">
   @TAGS@
   </div>

@FORALL_FIELDS@
@IF_FIRST@
   <table class="field_summary summary">
     <tr><th colspan="2">Field Summary</th></tr>
@END@
     <tr><td>@MODIFIER_SUMMARY@ @FIELD_TYPE@</td><td><dl><dt>@MEMBER_NAME_LINK@</dt><dd>@TAG_SUMMARY@</dd></dl></td></tr>
@IF_LAST@
   </table>
@END@
@END@
@FORALL_CONSTRUCTORS@
@IF_FIRST@
   <table class="constructor_summary summary">
     <tr><th colspan="2">Constructor Summary</th></tr>
@END@
     <tr><td>@MODIFIER_SUMMARY@ @TYPEPARAMS@</td><td><dl><dt>@MEMBER_NAME_LINK@(@METHOD_PARAMS@)</dt><dd>@TAG_SUMMARY@</dd></dl></td></tr>
@IF_LAST@
   </table>
@END@
@END@
@FORALL_METHODS@
@IF_FIRST@
   <table class="constructor_summary summary">
     <tr><th colspan="2">Method Summary</th></tr>
@END@
     <tr><td>@MODIFIER_SUMMARY@ @TYPEPARAMS@ @METHOD_RETURN_TYPE@</td><td><dl><dt>@MEMBER_NAME_LINK@(@METHOD_PARAMS@)</dt><dd>@TAG_SUMMARY@</dd></dl></td></tr>
@IF_LAST@
   </table>
@END@
@END@

   <p class="inherited">
    <span class="header">Methods inherited from class java.util.<a
   href="AbstractCollection.html">AbstractCollection</a></span>
    <a href="#addAll">addAll</a>
    <a href="#contains">contains</a>
   </p>
   <p class="inherited">
    <span class="header">Methods inherited from class java.lang.<a
   href="Object.html">Object</a></span>
    <a href="#addAll">clone</a>
    <a href="#contains">finalize</a>
   </p>
   <p class="inherited">
    <span class="header">Methods inherited from interface java.util.<a
   href="List.html">List</a></span>
    <a href="#addAll">addAll</a>
    <a href="#contains">contains</a>
   </p>

@FORALL_FIELDS@
@IF_FIRST@
   <h2>Field Detail</h2>
@END@
   <h3><a name="@MEMBER_NAME@" id="@MEMBER_NAME@">@MEMBER_NAME@</a></h3>
   <dl><dt>@MODIFIERS@ @FIELD_TYPE@ @MEMBER_NAME@</dt>
   <dd>@TAGS@</dd></dl>
@END@

@FORALL_CONSTRUCTORS@
@IF_FIRST@
   <h2>Constructor Detail</h2>
@END@
   <h3><a name="@MEMBER_NAME@@METHOD_SIGNATURE@" id="@MEMBER_NAME@@METHOD_SIGNATURE@">@MEMBER_NAME@</a></h3>
   <dl><dt>@MODIFIERS@ @TYPEPARAMS_DECL@ @MEMBER_NAME@(@METHOD_PARAMS@)</dt>
   <dd>@TAGS@</dd></dl>
@END@

@FORALL_METHODS@
@IF_FIRST@
   <h2>Method Detail</h2>
@END@
   <h3><a name="@MEMBER_NAME@@METHOD_SIGNATURE@" id="@MEMBER_NAME@@METHOD_SIGNATURE@">@MEMBER_NAME@</a></h3>
   <dl><dt>@MODIFIERS@ @TYPEPARAMS_DECL@ @METHOD_RETURN_TYPE@ @MEMBER_NAME@(@METHOD_PARAMS@)</dt>
   <dd>@TAGS@</dd></dl>
@END@
   
   <div class="navbar">
    <p class="nav navtop">
      <span class="over"><a href="@ROOT@overview-summary.html">Overview</a></span>
      <span class="package"><a href="package-summary.html">Package</a></span>
      <span class="class selected">Class</span>
      <span class="use"><a href="class-use/@CLASSSHORTNAME@.html">Use</a></span>
      <span class="tree"><a href="package-tree.html">Tree</a></span>
      <span class="deprecated"><a href="@ROOT@deprecated-list.html">Deprecated</a></span>
      <span class="index"><a href="@ROOT@index-all.html">Index</a></span>
      <span class="help"><a href="@ROOT@help-doc.html">Help</a></span>
    </p>
    <p class="nav navmid">
      <span class="prevnext">
       <span class="prev">Prev Class</span>
       <span class="next">Next Class</span>
      </span>
      <span class="framesel">
       <span class="frames"><a href="@ROOT@index.html" target="_top">Frames</a></span>
       <span class="noframes"><a href="@CLASSSHORTNAME@.html" target="_top">NoFrames</a></span>
      </span>
      <span class="allclasses"><a href="@ROOT@allclasses-noframe.html">All Classes</a></span>
   </p>
   <p class="nav navbot">
      <span class="summary">Summary:
       <span class="nested">Nested</span>
       <span class="field">Field</span>
       <span class="constr">Constr</span>
       <span class="method">Method</span>
      </span>
      <span class="detail">Detail:
       <span class="field">Field</span>
       <span class="constr">Constr</span>
       <span class="method">Method</span>
      </span>
   </p>
    <div class="navtitle">
     @FOOTER@
    </div>
    <p class="clear"><!--empty--></p>
   </div>
   <div class="bottom">@BOTTOM@</div>
   </body>
</html>
